atomicwrites==1.4.0
discord.py==2.5.2
jsonpointer==2.1
matplotlib==3.9.2
mysql-connector-python==9.2.0
protobuf==4.25.3
pyasn1-modules==0.2.8
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pytz
setuptools==75.1.0
wheel==0.44.0
